@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';


/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation-name: fadeIn;
}

/* ANIMATIONS  */

/* Misc Styles  */
input {
    font-family: "open sans" !important;
    font-size: 15px;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

i {
    vertical-align: middle;
}

/* Misc Styles  */


body {
    background-color: #ECECEC;
    font-family: "open sans" !important;
    &.overlay_applied {
        overflow-y: hidden;
    }
    padding-top:100px;
    user-select: none;
    @include media-breakpoint-down(xs){
        padding-top: 15px;
    }
}


.payment_ui_row{
    //padding: 15px;
}

.payment_methods_heading{
    background-color: #91C731;
    padding: 20px 15px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* LHS */
#ui_lhs {
    background-color: #fff;
    height: calc(100vh - 190px);
    padding: 0px;

    .arrow-right {
        width: 0;
        height: 0;
        border-top: 42px solid transparent;
        border-bottom: 42px solid transparent;
        border-left: 20px solid #fff;
        position: absolute;
        right: 0px;
        top:0;
        transition: all 0.1s ease;
        &.active {
            right: -20px;
        }
    }
    
    .payment_methods {
        display: flex;
        align-items: center;
        padding: 30px;
        font-size: 15px;
        font-weight: 600;
        border-bottom: 1px solid #ECECEC;
        cursor: pointer;
        position: relative;
        .svg-inline--fa{
            margin-right: 10px;
        }
        img.icon{
            width: 1.25em;
            margin-right: 15px;
        }
    }
}

#ui_lhs_xs_container {
   /*  overflow-x: scroll;
    overflow-y: hidden; */
    #ui_lhs_xs{
        background: #fff;
        height: 75px;
        max-width: 100%;
        //overflow: auto;
        display: inline-flex;
        padding:0px;

        .payment_methods_xs {
            /* display: flex; */
            background: #fff;
            align-items: center;
            display: flex;
            padding: 15px;
            font-size: 15px;
            font-weight: 600;
            border-right: 1px solid #ECECEC;
            cursor: pointer;
            position: relative;
            min-width: 115px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            .svg-inline--fa{
                margin-bottom: 10px;
            }
            img.icon{
                width: 1.25em;
                margin-right: 15px;
            }
        }

        .arrow-down{
            /* width: 0;
            height: 0;
            border-left: 78px solid transparent;
            border-right: 78px solid transparent;
            border-top: 20px solid red;
            position: absolute;
            bottom: -4px;
            transition: all 0.1s ease;
            left: -22px; */

            width: 0;
            height: 0;
            border-left: 57px solid transparent;
            border-right: 57px solid transparent;
            border-top: 12px solid #fff;
            position: absolute;
            bottom: -0px;
            transition: all 0.1s ease;
            left: 0px;
            z-index: 0;
            &.active {
                bottom: -12px;
            }
        }
    }
    .overflow_wrap {
        overflow-y: hidden;
        height: 90px;
    }
    /* .arrow-down{

        width: 0;
        height: 0;
        border-left: 61px solid transparent;
        border-right: 61px solid transparent;
        border-top: 15px solid #fff;
        position: absolute;
        bottom: -15px;
        transition: all 0.1s ease;
        left: 14px;
        display: none;
        &.active {
            bottom: -20px;
        }
    } */
}


/* LHS */


/* RHS */
#ui_rhs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    .payment_method_div {
        display: none;
        &.active{
            display: block;
        }
    }
    .cc_div_container {
        padding: 0px;
        max-width: 425px;
    }
    .cc_div_top {
        background: #fff;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-content: center;

        .card_amount_div {
            font-family: "open sans";
            padding: 30px;
            p{
                color: #333;
                font-family: "open sans";
                margin-bottom: 5px;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
    .cc_div{
        background-color: #fff;
        min-height: 400px;
        background: linear-gradient(to bottom, #284E73 , #113558);
        padding: 50px 30px;

        @include media-breakpoint-down(xs){
            padding: 50px 20px;
        }

        .card_input_div {
            margin-bottom: 50px;
            position: relative;
            p{
                color: #fff;
                font-family: "open sans";
                margin-bottom: 5px;
                font-size: 11px;
                font-weight: 600;
                text-transform: uppercase;
            }
            input{
                width: 100%;
                padding: 15px;
                border-radius: 4px;
                outline: none;
                border:none;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    /* display: none; <- Crashes Chrome on hover */
                    -webkit-appearance: none;
                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                }
            }
            .card_input {
               /*  background: #fff url("../images/cards.png") 0 0  no-repeat; */
                //position: relative;
            }

            .card_image {
                position: absolute;
                right: 4px;
                top: 25px;
                width: 70px;
                height: 44px;
                background: #fff url(../images/cards.png) 0px 0px no-repeat;
                // background: #fff url(../images/cards.png) 0px -66px no-repeat; // Visa
                background-size: cover;
            }

            .valid_upto_input {
                max-width: 60px;
                margin-right: 5px;
                text-align: center;
                @include media-breakpoint-down(sm){
                    max-width: 56px;
                    text-align: left;
                }
                @include media-breakpoint-down(xs){
                    max-width: 56px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
            .cvv_input {
                max-width: 100px;
            }
        }
        .confirm_payment_button {
            background-color: #91C731;
            font-size: 17px;
            font-family: "open sans";
            color: #fff;
            text-transform: uppercase;
            width: 100%;
            padding: 15px;
            border: none;
            outline: none;
            border-radius: 50px;
            font-weight: 600;
        }
       
    }
}
/* RHS */